* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
}
.sidebar__left,
.content__middle {
  display: flex;
  flex-direction: column;
}
.sidebar__left {
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 0.3;
  border: 4px solid whitesmoke;
}
.content__middle {
  flex: 0.7;
}
/* test */
#redux-react {
  display: flex;
  flex-direction: column;
}
#redux-react-2 {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
